<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manuelseguranavarro.sunshineproject" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission
        android:name="com.example.LICENSE_TO_KILL"
        android:label="Licended to Kill"
        android:protectionLevel="dangerous" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Detalle.DetalleActivity"
            android:label="Mas Información"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.manuelseguranavarro.sunshineproject.MainActivity" />
        </activity>
        <activity
            android:name=".Settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.manuelseguranavarro.sunshineproject.MainActivity" />
        </activity>

        <provider
            android:name=".data.WeatherProvider"
            android:authorities="com.example.manuelseguranavarro.sunshineproject.app"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.SunshineService"
            android:enabled="true" />
        <service
            android:name=".service.SunshineService$AlarmReceiver"
            android:enabled="true" />

        <activity
            android:name=".sincronizar.Autenticator"
            android:label="@string/title_activity_autenticator"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".sincronizar.SyncAdapter"
            android:label="@string/title_activity_sync_adapter"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
